/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/images
public/photos
/public/assets/argon
/public/assets/profile/img
/public/css
/public/fonts
/public/js
/public/img
/public/bootstrap4
/public/sccs
/public/vendor
/public/uploads
/resources/lang/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
packege.json
packege-lock.json
artisan
.styleci.ymi
webpack.mix.js
