body {
    font-family: "Asap", sans-serif;
    color:#989898;
    font-size:16px;
  }
  

label.requerido:after{
    content: '*';
    color: red;
}
.btn-accion-tabla{
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}

.pl-20{
    padding-left:30px !important;
}
.pl-30{
    padding-left:40px !important;
}
.pl-40{
    padding-left:55px !important;
}
.nounderline, .violet{
    color: #7c4dff !important;
}


.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 

/* Media Query */
@media (max-width: 1085px){
	
}




/* css prueba */



/* 
.hide {
  display: none !important;
}


.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
} */




