body {
    font-family: "Asap", sans-serif;
    color:#989898;
    font-size:16px;
  }
  

label.requerido:after{
    content: '*';
    color: red;
}
.btn-accion-tabla{
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}

.pl-20{
    padding-left:30px !important;
}
.pl-30{
    padding-left:40px !important;
}
.pl-40{
    padding-left:55px !important;
}
.nounderline, .violet{
    color: #7c4dff !important;
}


.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 

/* Media Query */
@media (max-width: 1085px){
	
}

.blue{
    color: #0936bd;
}

.rating{
    direction: rtl;    
}

.rating i{
    color: #313131;
    transition: 0.3s all;
}

.rating i:hover{
    color: #0936bd;
    transition: 0.3s all;
}

.b1:hover ~ i{
    color:#0936bd;
}

.b2:hover ~ i{
    color:#0936bd;
}

.b3:hover ~ i{
    color:#0936bd;
}

.b4:hover ~ i{
    color:#0936bd;
}

.b5:hover ~ i{
    color:#0936bd;
}


/*   ------------ Star Rating CSS --------------   */

.star{
    direction: rtl;
}
.star input{
    display: none;
}
.star label{
    display: inline-block;
    width: 50px;
    position: relative;
    cursor: pointer;
    
}
.star label::before{
    content: "\2605";
    position: absolute;
    font-size: 50px;
    display: inline-block;
    top: -20px;
    right: 5px;
}
.star label::after{
    content: "\2605";
    position: absolute;
    font-size: 50px;
    display: inline-block;
    color:#0936bd;
    opacity: 0;
    top: -20px;
    right: 5px;
    transition: all 0.4s ease-in-out;
}
.star label:hover{
    text-shadow: 0px 0px 3px black;
}
.star label:hover::after,
.star label:hover ~ label::after,
.star input:checked ~ label::after{
    opacity: 1;
    transform: scale(1.1);
}

/*     -------------------- END ------------- */





/* 
.hide {
  display: none !important;
}


.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
} */




