.col-xl{
    background-color: aliceblue;
}

#networks{
	display: inline;
	width: 216px;
	/* margin: 0px auto; */
	list-style: none;
	margin-bottom: 20px;
    margin-top: 20px;
    
}	

#networks li{
	float: left;
	/* margin-left: 20px; */
	margin-right: 20px;
    transition: all 300ms;
    
}

#networks li:hover{
	opacity: 0.8;
	transform: scale(1.1, 1.1);
}
